This notebook makes use of the following Python modules:
* pandas
* seaborn
* wordCloud

Use the commands in either one of the following cellss to install these packages.
For more information, see: https://jakevdp.github.io/blog/2017/12/05/installing-python-packages-from-jupyter/

If pip has not been installed on your computer, please consult the following resources:

https://www.liquidweb.com/kb/install-pip-windows/
https://stackoverflow.com/questions/17271319/how-do-i-install-pip-on-macos-or-os-x

In [ ]:
import sys
!conda install --yes --prefix {sys.prefix} pandas
!conda install --yes --prefix {sys.prefix} seaborn
!conda install --yes --prefix {sys.prefix} wordCloud

In [ ]:
import sys
!{sys.executable} -m pip install pandas
!{sys.executable} -m pip install seaborn
!{sys.executable} -m pip install wordCloud

# Data set for these exercises

In the following exercises, we use a data table that has been derived from:

> Fatah-Black, Dr KJ (Leiden University) (2017): Lijsten van de leveranties, met de namen van de kopers en betaalde prijzen op de verkopingen van de VOC kamer Zeeland, 1725 â€“ 1777. DANS. https://doi.org/10.17026/dans-23z-ez6f 

The derived data set is smaller; some rows that contain invalid values were removed. Column names and some values were translated to English. You can download the CSV from <https://tdm.universiteitleiden.nl/Python/voc-data.csv>, or use the Requests library to programmatically download it to the current working directory in the warm-up exercise.

# Warm-up exercise

Add code below to download the data set. The code to write the file to disk is already provided.

In [2]:
import requests

# FIXME: add code to download the CSV file from the URL given above
# Make sure to assign the file contents to the data_file variable
response = requests.get('https://tdm.universiteitleiden.nl/Python/voc-data.csv')
if response.status_code == 200:
    data_file = response.text

# Write to voc-data.csv in the current working directory
with open('voc-data.csv', 'w', encoding='utf-8') as output_file:
    output_file.write(data_file)

# Exercise 11.1

Using the pandas library, open the csv and print the following:

* information about the number of rows and the number of columns
* print the first 3 rows
* print a list of all column names

In [3]:
import pandas as pd

# Let's load the data into `transactions_df`:
transactions_df = pd.read_csv('voc-data.csv')

print( transactions_df.shape )

(1099, 16)

In [4]:
transactions_df.head(3)

,Archief,toegang,inv.,seller,year,month,day,product,specific_product,units,quantity,Achternaam,Voornaam,currency,flemish_pounds,groten
0,NL-HaNA,1.04.02,13377,VOC kamer Zeeland,1725,11,12,Coffij,Ceylons,ponden,1649,Ribaut,Casparus,Vlaamse pond,296,13.0
1,NL-HaNA,1.04.02,13377,VOC kamer Zeeland,1726,8,28,Coffij,Mochas,ponden,1259,Balen,Jacobus,Vlaamse pond,252,2.0
2,NL-HaNA,1.04.02,13377,VOC kamer Zeeland,1726,8,28,Coffij,Mochas,ponden,1249,Beukelaar,Jan,Vlaamse pond,248,16.0

In [5]:
transactions_df.columns

Index(['Archief', 'toegang', 'inv.', 'seller', 'year', 'month', 'day',
       'product', 'specific_product', 'units', 'quantity', 'Achternaam',
       'Voornaam', 'currency', 'flemish_pounds', 'groten'],
      dtype='object')

In [7]:
transactions_df[ transactions_df['Achternaam'] == 'Oort' ]

,Archief,toegang,inv.,seller,year,month,day,product,specific_product,units,quantity,Achternaam,Voornaam,currency,flemish_pounds,groten
155,NL-HaNA,1.04.02,13377,VOC kamer Zeeland,1732,11,17,Coffij,Javaans en Ceylons,ponden,4800,Oort,Hendrik van Junior,Vlaamse pond,682,2.0
174,NL-HaNA,1.04.02,13377,VOC kamer Zeeland,1733,11,16,Coffij,Divers,ponden,2487,Oort,Hendrik van Junior,Vlaamse pond,323,12.0

# Exercise 11.2

Using the pandas library, calculate the correlations between the (numerical) columns in your csv file. Additionally, print a list of the means of all the columns.

# Exercise 11.3

The data.csv file is clean, in the sense that all values in the `groten` column are valid integers, but some integers are outside the expected range. The data set documentation mentions a Flemish pound is the same as 20 groten, though the column contains other values too.

Complete the code below to create a data frame whose `groten` column has only values between 0 and 19. The last statement lets you check your code.

In [ ]:
# FIXME: select the rows in which `groten` has a value between 0 and 19 and assign it to `only_correct_groten_df`
only_correct_groten_df = 

# If the result of the next statement is `True`, your code worked!
only_correct_groten_df.loc[lambda df: df['groten'] >= 0 and df['groten'] < 20].all()

# Exercise 11.4

The total price paid in a transaction is the sum of the Flemish pounds and the *groten*. Again, 1 Flemish pound is worth 20 *groten*.

Create a column `total_price` that has a single (floating point) number representing the total price in Flemish pounds.

Create another column `price_per_pound` that contains the price per pound.

In [8]:
transactions_df['total_price'] = transactions_df['flemish_pounds'] + (transactions_df['groten'] / 20)

transactions_df.head()

,Archief,toegang,inv.,seller,year,month,day,product,specific_product,units,quantity,Achternaam,Voornaam,currency,flemish_pounds,groten,total_price
0,NL-HaNA,1.04.02,13377,VOC kamer Zeeland,1725,11,12,Coffij,Ceylons,ponden,1649,Ribaut,Casparus,Vlaamse pond,296,13.0,296.65
1,NL-HaNA,1.04.02,13377,VOC kamer Zeeland,1726,8,28,Coffij,Mochas,ponden,1259,Balen,Jacobus,Vlaamse pond,252,2.0,252.10
2,NL-HaNA,1.04.02,13377,VOC kamer Zeeland,1726,8,28,Coffij,Mochas,ponden,1249,Beukelaar,Jan,Vlaamse pond,248,16.0,248.80
3,NL-HaNA,1.04.02,13377,VOC kamer Zeeland,1727,10,27,Coffij,Divers,ponden,3638,Boogaart,Lodewijk van den,Vlaamse pond,4999,12.0,4999.60
4,NL-HaNA,1.04.02,13377,VOC kamer Zeeland,1727,10,27,Coffij,Divers,ponden,1258,Breda,Jan van,Vlaamse pond,173,18.0,173.90

In [11]:
transactions_df['price_per_pound'] = transactions_df['total_price'] / transactions_df['quantity']

transactions_df.query('year == 1727 & month == 10 & day == 27').dropna()

,Archief,toegang,inv.,seller,year,month,day,product,specific_product,units,quantity,Achternaam,Voornaam,currency,flemish_pounds,groten,total_price,price_per_pound
3,NL-HaNA,1.04.02,13377,VOC kamer Zeeland,1727,10,27,Coffij,Divers,ponden,3638,Boogaart,Lodewijk van den,Vlaamse pond,4999,12.0,4999.60,1.374272
4,NL-HaNA,1.04.02,13377,VOC kamer Zeeland,1727,10,27,Coffij,Divers,ponden,1258,Breda,Jan van,Vlaamse pond,173,18.0,173.90,0.138235
5,NL-HaNA,1.04.02,13377,VOC kamer Zeeland,1727,10,27,Coffij,Divers,ponden,84724,Beukelaar,Jan,Vlaamse pond,11942,19.0,11942.95,0.140963
6,NL-HaNA,1.04.02,13377,VOC kamer Zeeland,1727,10,27,Coffij,Divers,ponden,3636,Thijssen,Pieter,Vlaamse pond,499,7.0,499.35,0.137335
8,NL-HaNA,1.04.02,13377,VOC kamer Zeeland,1727,10,27,Coffij,Divers,ponden,2480,Zeun,Nicolaas van,Vlaamse pond,350,14.0,350.70,0.141411
11,NL-HaNA,1.04.02,13377,VOC kamer Zeeland,1727,10,27,Coffij,Divers,ponden,14580,Boudaan,Abraham,Vlaamse pond,2039,7.0,2039.35,0.139873
12,NL-HaNA,1.04.02,13377,VOC kamer Zeeland,1727,10,27,Coffij,Divers,ponden,276530,Ribaut,Casparus,Vlaamse pond,40009,13.0,40009.65,0.144685
14,NL-HaNA,1.04.02,13377,VOC kamer Zeeland,1727,10,27,Coffij,Divers,ponden,4886,Bomme,Jan,Vlaamse pond,683,9.0,683.45,0.139879
15,NL-HaNA,1.04.02,13377,VOC kamer Zeeland,1727,10,27,Coffij,Divers,ponden,2484,Schellewaart,Jacob,Vlaamse pond,347,9.0,347.45,0.139875
16,NL-HaNA,1.04.02,13377,VOC kamer Zeeland,1727,10,27,Coffij,Divers,ponden,1226,Janette,Daniel,Vlaamse pond,170,17.0,170.85,0.139356
17,NL-HaNA,1.04.02,13377,VOC kamer Zeeland,1727,10,27,Coffij,Divers,ponden,3684,Clerq en Zoon,Pieter de,Vlaamse pond,522,4.0,522.20,0.141748
18,NL-HaNA,1.04.02,13377,VOC kamer Zeeland,1727,10,27,Coffij,Divers,ponden,3750,Blondel,Jan,Vlaamse pond,526,8.0,526.40,0.140373
19,NL-HaNA,1.04.02,13377,VOC kamer Zeeland,1727,10,27,Coffij,Divers,ponden,2514,Loos,Anthonij de,Vlaamse pond,351,12.0,351.60,0.139857
20,NL-HaNA,1.04.02,13377,VOC kamer Zeeland,1727,10,27,Coffij,Divers,ponden,2442,Burt,Cornelis,Vlaamse pond,342,17.0,342.85,0.140397
21,NL-HaNA,1.04.02,13377,VOC kamer Zeeland,1727,10,27,Coffij,Divers,ponden,6198,Parker,Isaak,Vlaamse pond,866,6.0,866.30,0.139771
22,NL-HaNA,1.04.02,13377,VOC kamer Zeeland,1727,10,27,Coffij,Divers,ponden,8368,Huijen,Joost van,Vlaamse pond,1129,19.0,1129.95,0.135032
23,NL-HaNA,1.04.02,13377,VOC kamer Zeeland,1727,10,27,Coffij,Divers,ponden,7406,Kinderen,Pieter der,Vlaamse pond,1042,5.0,1042.25,0.140730
24,NL-HaNA,1.04.02,13377,VOC kamer Zeeland,1727,10,27,Coffij,Divers,ponden,2472,Lohnis,Adolph,Vlaamse pond,345,15.0,345.75,0.139867
25,NL-HaNA,1.04.02,13377,VOC kamer Zeeland,1727,10,27,Coffij,Divers,ponden,2470,Esse,Pieter van Junior,Vlaamse pond,345,9.0,345.45,0.139858
26,NL-HaNA,1.04.02,13377,VOC kamer Zeeland,1727,10,27,Coffij,Divers,ponden,3674,Tulleken,Isaak,Vlaamse pond,511,19.0,511.95,0.139344
27,NL-HaNA,1.04.02,13377,VOC kamer Zeeland,1727,10,27,Coffij,Divers,ponden,1218,Tulleken,Amrobosius,Vlaamse pond,169,14.0,169.70,0.139327
28,NL-HaNA,1.04.02,13377,VOC kamer Zeeland,1727,10,27,Coffij,Divers,ponden,1242,Goethals,Jacob,Vlaamse pond,174,7.0,174.35,0.140378
29,NL-HaNA,1.04.02,13377,VOC kamer Zeeland,1727,10,27,Coffij,Divers,ponden,1246,Elst,Abraham Van der,Vlaamse pond,176,4.0,176.20,0.141413
30,NL-HaNA,1.04.02,13377,VOC kamer Zeeland,1727,10,27,Coffij,Divers,ponden,3706,Akeren,Adriaan van,Vlaamse pond,525,7.0,525.35,0.141757
31,NL-HaNA,1.04.02,13377,VOC kamer Zeeland,1727,10,27,Coffij,Divers,ponden,3702,Bertand,Paulus,Vlaamse pond,524,16.0,524.80,0.141761
32,NL-HaNA,1.04.02,13377,VOC kamer Zeeland,1727,10,27,Coffij,Divers,ponden,1240,Crane,Jacobus de,Vlaamse pond,175,7.0,175.35,0.141411
33,NL-HaNA,1.04.02,13377,VOC kamer Zeeland,1727,10,27,Coffij,Divers,ponden,1222,Velde,Wed.Jan van de,Vlaamse pond,174,1.0,174.05,0.142430
34,NL-HaNA,1.04.02,13377,VOC kamer Zeeland,1727,10,27,Coffij,Divers,ponden,2428,Blommaart,Andries,Vlaamse pond,343,14.0,343.70,0.141557
35,NL-HaNA,1.04.02,13377,VOC kamer Zeeland,1727,10,27,Coffij,Divers,ponden,1222,Larrij,Jan,Vlaamse pond,170,5.0,170.25,0.139321
36,NL-HaNA,1.04.02,13377,VOC kamer Zeeland,1727,10,27,Coffij,Divers,ponden,1236,Bevenage,Abraham van,Vlaamse pond,172,4.0,172.20,0.139320
38,NL-HaNA,1.04.02,13377,VOC kamer Zeeland,1727,10,27,Coffij,Divers,ponden,2456,Febre,Daniel le,Vlaamse pond,340,19.0,340.95,0.138823
39,NL-HaNA,1.04.02,13377,VOC kamer Zeeland,1727,10,27,Coffij,Divers,ponden,1208,Waardenburg,Nicolaas van,Vlaamse pond,168,6.0,168.30,0.139321
40,NL-HaNA,1.04.02,13377,VOC kamer Zeeland,1727,10,27,Coffij,Divers,ponden,904,Callebout,Boudewijn,Vlaamse pond,135,6.0,135.30,0.149668

# Exercise 11.5

We would like to know how the price of coffee ("Coffij") changed over time. We don't have prices paid per day, but prices paid for each transaction. There were two auctions per year.

Let's assume that only the date of the auction influences the price per pound, not the type of coffee (specified in the `specific_product` column), the number of auction lots or other factors.

Calculate the mean price per pound for coffee for each auction.

In [18]:
clean_transaction_df = transactions_df[['year','month','day','price_per_pound']].dropna()
clean_transaction_df

      year  month  day  price_per_pound
0     1725     11   12         0.179897
1     1726      8   28         0.200238
2     1726      8   28         0.199199
3     1727     10   27         1.374272
4     1727     10   27         0.138235
5     1727     10   27         0.140963
6     1727     10   27         0.137335
8     1727     10   27         0.141411
9     1727     10   27         0.139151
11    1727     10   27         0.139873
12    1727     10   27         0.144685
14    1727     10   27         0.139879
15    1727     10   27         0.139875
16    1727     10   27         0.139356
17    1727     10   27         0.141748
18    1727     10   27         0.140373
19    1727     10   27         0.139857
20    1727     10   27         0.140397
21    1727     10   27         0.139771
22    1727     10   27         0.135032
23    1727     10   27         0.140730
24    1727     10   27         0.139867
25    1727     10   27         0.139858
26    1727     10   27         0.139344
27    1727     10   27         0.139327
28    1727     10   27         0.140378
29    1727     10   27         0.141413
30    1727     10   27         0.141757
31    1727     10   27         0.141761
32    1727     10   27         0.141411
...    ...    ...  ...              ...
1068  1775     10   23         0.054004
1069  1775     10   23         0.053791
1070  1775     10   23         0.054708
1071  1775     10   23         0.055742
1072  1775     10   23         0.054711
1073  1775     10   23         0.054706
1074  1775     10   23         0.056773
1075  1775     10   23         0.047475
1076  1776     11   25         0.061886
1077  1776     11   25         0.061477
1078  1776     11   25         0.061408
1079  1776     11   25         0.062446
1080  1776     11   25         0.061936
1081  1776     11   25         0.061522
1082  1776     11   25         0.061933
1084  1776     11   25         0.061467
1085  1776     11   25         0.061315
1086  1776     11   25         0.060903
1087  1776     11   25         0.073100
1088  1776     11   25         0.061936
1089  1776     11   25         0.060903
1090  1776     11   25         0.060900
1091  1776     11   25         0.064001
1092  1776     11   25         0.060902
1093  1776     11   25         0.060907
1094  1776     11   25         0.060889
1095  1776     11   25         0.060899
1096  1776     11   25         0.060894
1097  1776     11   25         0.033029
1098  1776     11   25         0.033029

[1040 rows x 4 columns]

In [23]:
clean_transaction_df.groupby(['year','month','day']).mean()

                price_per_pound
year month day
1725 11    12          0.179897
1726 8     28          0.199719
1727 10    27          0.176721
1728 4     19          0.105344
1731 11    12          0.159589
1732 11    17          0.142645
1733 11    16          0.129948
1734 4     27          0.082526
     11    15          0.124849
1735 10    31          0.102067
1737 4     29          0.060759
1739 11    1           0.077645
1740 11    21          0.085695
1741 11    20          0.063176
1742 11    26          0.070385
1743 11    21          0.070643
1744 3     30          0.068379
     11    2           0.075290
1745 11    15          0.118455
1746 10    31          0.133222
1747 10    9           0.106338
     11    27          0.121228
1755 11    10          0.083967
1756 11    15          0.083015
1757 11    28          1.826740
1758 11    27          0.079406
1759 11    19          0.102497
1760 11    17          0.069674
1761 11    9           0.067446
1762 11    22          0.075533
1763 12    8           0.080628
1764 11    19          0.082760
1765 11    11          0.071956
1766 11    3           0.069052
1772 11    9           0.088000
1773 11    22          0.078581
1774 11    28          0.064509
1775 10    23          0.054765
1776 11    25          0.059440

# Saving the results as a time series

If we want to use the results from exercise 11.5 to understand the changes over time, we need to combine the columns that make up the date into a proper datetime column, so that Pandas can apply its time and date functionality. We'll use the [pd.to_datetime()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html#pandas.to_datetime) method.

Let's create a datetime column and then save the data frame to a new CSV file *prices_of_coffee_over_time.csv*.

In [25]:
# First concatenate and convert the year, month and day columns into a datetime column
clean_transaction_df['date'] = pd.to_datetime(clean_transaction_df[['year', 'month', 'day']])
clean_transaction_df.head()

   year  month  day  price_per_pound       date
0  1725     11   12         0.179897 1725-11-12
1  1726      8   28         0.200238 1726-08-28
2  1726      8   28         0.199199 1726-08-28
3  1727     10   27         1.374272 1727-10-27
4  1727     10   27         0.138235 1727-10-27

In [26]:
# FIXME: we added a column to the 'raw' data set, so we need to redo what we did in 11.5 to get the groups.
transactions_per_auction_df = clean_transaction_df.groupby('date').mean()
transactions_per_auction_df

            year  month  day  price_per_pound
date
1725-11-12  1725     11   12         0.179897
1726-08-28  1726      8   28         0.199719
1727-10-27  1727     10   27         0.176721
1728-04-19  1728      4   19         0.105344
1731-11-12  1731     11   12         0.159589
1732-11-17  1732     11   17         0.142645
1733-11-16  1733     11   16         0.129948
1734-04-27  1734      4   27         0.082526
1734-11-15  1734     11   15         0.124849
1735-10-31  1735     10   31         0.102067
1737-04-29  1737      4   29         0.060759
1739-11-01  1739     11    1         0.077645
1740-11-21  1740     11   21         0.085695
1741-11-20  1741     11   20         0.063176
1742-11-26  1742     11   26         0.070385
1743-11-21  1743     11   21         0.070643
1744-03-30  1744      3   30         0.068379
1744-11-02  1744     11    2         0.075290
1745-11-15  1745     11   15         0.118455
1746-10-31  1746     10   31         0.133222
1747-10-09  1747     10    9         0.106338
1747-11-27  1747     11   27         0.121228
1755-11-10  1755     11   10         0.083967
1756-11-15  1756     11   15         0.083015
1757-11-28  1757     11   28         1.826740
1758-11-27  1758     11   27         0.079406
1759-11-19  1759     11   19         0.102497
1760-11-17  1760     11   17         0.069674
1761-11-09  1761     11    9         0.067446
1762-11-22  1762     11   22         0.075533
1763-12-08  1763     12    8         0.080628
1764-11-19  1764     11   19         0.082760
1765-11-11  1765     11   11         0.071956
1766-11-03  1766     11    3         0.069052
1772-11-09  1772     11    9         0.088000
1773-11-22  1773     11   22         0.078581
1774-11-28  1774     11   28         0.064509
1775-10-23  1775     10   23         0.054765
1776-11-25  1776     11   25         0.059440

In [27]:
print( transactions_per_auction_df.shape)

(39, 4)

In [28]:
# Use Pandas' built-in functionality
transactions_per_auction_df.to_csv('prices_of_coffee_over_time.csv')